@page "/"
@inherits HomeBase


<PageTitle>Home</PageTitle>

<h1>Stats</h1>

@if (Stats is null)
{
    <p>Loading...</p>
}
else
{
    <div class="current-rank">
        <img src="@GetRankImage(Stats.Rank)" alt="@Stats.RankLabel" class="rank-icon" />
        <span class="rank-name">@Stats.RankLabel</span>
    </div>

    <div>
        <div>Wins: @Stats.Wins</div>
        <input type="number" @bind="Wins" />
        <button @onclick="(() => SetWins(Wins))">Set</button>
    </div>
    <div>
        <div>Looses: @Stats.Looses</div>
        <input type="number" @bind="Looses" />
        <button @onclick="(() => SetLooses(Looses))">Set</button>
    </div>
    <div>
        <div>Ties: @Stats.Ties</div>
        <input type="number" @bind="Ties" />
        <button @onclick="(() => SetTies(Ties))">Set</button>
    </div>
    <div>
        <div>Points: @Stats.Points</div>
        <input type="number" @bind="Points" />
        <button @onclick="(() => SetPoints(Points))">Set</button>
    </div>
    <div>
        <div>Win Streaks: @Stats.WinStreaks</div>
        <input type="number" @bind="WinStreaks" />
        <button @onclick="(() => SetWinStreaks(WinStreaks))">Set</button>
    </div>
}
